//================IO 位置设置==================================

IO_LOC "rst_n" 		AA13;
IO_LOC "sys_clk" 	V22;

//============ 
IO_LOC "RGMII_GTXCLK" 	F20;
IO_LOC "PHY_CLK" 		V19;
IO_LOC "RGMII_TXD[0]" 	D21;
IO_LOC "RGMII_TXD[1]" 	E21;
IO_LOC "RGMII_TXD[2]" 	D22;
IO_LOC "RGMII_TXD[3]" 	E22;
IO_LOC "RGMII_TXEN"  	F21;
IO_LOC "RGMII_RST_N"  	W20;

//================IO 电平设置==================================
IO_PORT "rst_n" PULL_MODE=UP IO_TYPE=LVCMOS33;
IO_PORT "sys_clk" IO_TYPE=LVCMOS33;

IO_PORT "RGMII_GTXCLK" IO_TYPE=LVCMOS33;
IO_PORT "PHY_CLK" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[0]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[1]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[2]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXD[3]" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_TXEN" IO_TYPE=LVCMOS33;
IO_PORT "RGMII_RST_N" IO_TYPE=LVCMOS33;
