IO_LOC "clk" V22;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "rst_n" AB13;
IO_PORT "rst_n" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

IO_LOC "WS2812" J16;
IO_PORT "WS2812" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

