//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.01 (64-bit)
//Part Number: GW5AST-LV138PG484AC2/I1
//Device: GW5AST-138
//Device Version: B
//Created Time: Mon 03 11 17:59:26 2024

IO_LOC "led_fault" G11;
IO_PORT "led_fault" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_succeed" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQM[1]" AB18;
IO_PORT "SDRAM_DQM[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQM[0]" AA18;
IO_PORT "SDRAM_DQM[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_CLK" U20;
IO_PORT "SDRAM_CLK" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_nCAS" Y19;
IO_PORT "SDRAM_nCAS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_nRAS" Y18;
IO_PORT "SDRAM_nRAS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_nWE" AB20;
IO_PORT "SDRAM_nWE" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_nCS" T20;
IO_PORT "SDRAM_nCS" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_BA[1]" U18;
IO_PORT "SDRAM_BA[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_BA[0]" M15;
IO_PORT "SDRAM_BA[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[12]" V20;
IO_PORT "SDRAM_A[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[11]" Y21;
IO_PORT "SDRAM_A[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[10]" U17;
IO_PORT "SDRAM_A[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[9]" Y22;
IO_PORT "SDRAM_A[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[8]" AB21;
IO_PORT "SDRAM_A[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[7]" AB22;
IO_PORT "SDRAM_A[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[6]" AA20;
IO_PORT "SDRAM_A[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[5]" AA21;
IO_PORT "SDRAM_A[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[4]" AA19;
IO_PORT "SDRAM_A[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[3]" P14;
IO_PORT "SDRAM_A[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[2]" R14;
IO_PORT "SDRAM_A[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[1]" P15;
IO_PORT "SDRAM_A[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_A[0]" R16;
IO_PORT "SDRAM_A[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[15]" W17;
IO_PORT "SDRAM_DQ[15]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[14]" V17;
IO_PORT "SDRAM_DQ[14]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[13]" W22;
IO_PORT "SDRAM_DQ[13]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[12]" W21;
IO_PORT "SDRAM_DQ[12]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[11]" P17;
IO_PORT "SDRAM_DQ[11]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[10]" M17;
IO_PORT "SDRAM_DQ[10]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[9]" N14;
IO_PORT "SDRAM_DQ[9]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[8]" N13;
IO_PORT "SDRAM_DQ[8]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[7]" R18;
IO_PORT "SDRAM_DQ[7]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[6]" T18;
IO_PORT "SDRAM_DQ[6]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[5]" P16;
IO_PORT "SDRAM_DQ[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[4]" R17;
IO_PORT "SDRAM_DQ[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[3]" T21;
IO_PORT "SDRAM_DQ[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[2]" U21;
IO_PORT "SDRAM_DQ[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[1]" P19;
IO_PORT "SDRAM_DQ[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SDRAM_DQ[0]" R19;
IO_PORT "SDRAM_DQ[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "reset" F4;
IO_PORT "reset" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
