//Copyright (C)2014-2024 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.9.02
//Part Number: GW5AST-LV138PG484AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Wed 05 08 18:27:08 2024

IO_LOC "led[3]" R19;
IO_PORT "led[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[2]" U21;
IO_PORT "led[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[1]" R17;
IO_PORT "led[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "led[0]" T18;
IO_PORT "led[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "tp1" C19;
IO_PORT "tp1" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;
IO_LOC "tp0" C18;
IO_PORT "tp0" IO_TYPE=LVCMOS25 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=2.5;

IO_LOC "upar_sw[1]" AA13;
IO_PORT "upar_sw[1]" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "upar_sw[0]" Y12;
IO_PORT "upar_sw[0]" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;

//IO_LOC "cfg_pu[1]" Y21; //Reconfig_n
//IO_PORT "cfg_pu[1]" PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
//IO_LOC "cfg_pu[0]" U12; // Ready
//IO_PORT "cfg_pu[0]" PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
//IO_LOC "cfg_pu[2]" N17; // SSPI_HOLDN
//IO_PORT "cfg_pu[2]" PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
//IO_LOC "cfg_pu[3]" W10; // DONE
//IO_PORT "cfg_pu[3]" PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=WEAK BANK_VCCIO=3.3;

/*dvk*/
IO_LOC "pcie_rstn" W11;//L25-sw1
IO_PORT "pcie_rstn" PULL_MODE=UP DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "rst_n" AB13;//L25-sw1，R21-sw2，R22-SW3，T22-SW4，
IO_PORT "rst_n" PULL_MODE=UP DRIVE=OFF;
IO_LOC "sys_clk_p" V22;
IO_PORT "sys_clk_p" PULL_MODE=UP DRIVE=OFF PULL_STRENGTH=STRONG BANK_VCCIO=3.3;
