//====== Clock & Rst ====== 
IO_LOC "clk" V22;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "rst_n" AB13;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

//====== Joycon ====== 
    //Left
IO_LOC "joycon_L_txd" H20;
IO_LOC "joycon_L_rxd" G20;

IO_PORT "joycon_L_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "joycon_L_rxd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "joycon_L_rst" M17;
IO_PORT "joycon_L_rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joycon_L_fc" H19;
IO_PORT "joycon_L_fc" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
    //Right
IO_LOC "joycon_R_txd" H18;
IO_LOC "joycon_R_rxd" J19;

IO_PORT "joycon_R_txd" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "joycon_R_rxd" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

IO_LOC "joycon_R_rst" U8;
IO_PORT "joycon_R_rst" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "joycon_R_fc" H17;
IO_PORT "joycon_R_fc" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;


//====== LEDS ====== 
IO_LOC  "leds[0]"   T18;
IO_LOC  "leds[1]"   R18;
IO_LOC  "leds[2]"   R17;
IO_LOC  "leds[3]"   P16;
IO_LOC  "leds[4]"   U21;
IO_LOC  "leds[5]"   T21;
IO_LOC  "leds[6]"   R19;
IO_LOC  "leds[7]"   P19;

IO_PORT "leds[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[4]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[5]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[6]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "leds[7]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
