//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.9 Beta-4
//Part Number: GW5AST-LV138PG484AES
//Device: GW5AST-138
//Device Version: B
//Created Time: Thu 04 18 14:08:35 2024

IO_LOC "pad_io_done" G11;
IO_PORT "pad_io_done" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_ready" U12;
IO_PORT "pad_io_ready" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_i_s1_n" N12;
IO_PORT "pad_i_s1_n" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "pad_i_clk_50MHz" V22;
IO_PORT "pad_i_clk_50MHz" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

// HSPI CTRL
IO_LOC "pad_o_HSPI_HTCLK" J20;
IO_PORT "pad_o_HSPI_HTCLK" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_o_HSPI_HTREQ" J21;
IO_PORT "pad_o_HSPI_HTREQ" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_i_HSPI_HTRDY" L19;
IO_PORT "pad_i_HSPI_HTRDY" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC "pad_o_HSPI_HTVLD" G18;
IO_PORT "pad_o_HSPI_HTVLD" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

// HSPI DATA
IO_LOC "pad_io_HSPI_HD[0]" G17;
IO_PORT "pad_io_HSPI_HD[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[1]" H22;
IO_PORT "pad_io_HSPI_HD[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[2]" L14;
IO_PORT "pad_io_HSPI_HD[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[3]" K22;
IO_PORT "pad_io_HSPI_HD[3]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[4]" K21;
IO_PORT "pad_io_HSPI_HD[4]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[5]" K18;
IO_PORT "pad_io_HSPI_HD[5]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[6]" L21;
IO_PORT "pad_io_HSPI_HD[6]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[7]" M21;
IO_PORT "pad_io_HSPI_HD[7]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[8]" M22;
IO_PORT "pad_io_HSPI_HD[8]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[9]" N22;
IO_PORT "pad_io_HSPI_HD[9]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[10]" L18;
IO_PORT "pad_io_HSPI_HD[10]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[11]" M18;
IO_PORT "pad_io_HSPI_HD[11]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[12]" N19;
IO_PORT "pad_io_HSPI_HD[12]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[13]" N18;
IO_PORT "pad_io_HSPI_HD[13]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[14]" K16;
IO_PORT "pad_io_HSPI_HD[14]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pad_io_HSPI_HD[15]" L16;
IO_PORT "pad_io_HSPI_HD[15]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
